* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #98b6d5;
}

.container {
  text-align: center;
  padding: 20px;
  margin: 10% auto;
  width: 500px;
  background: #fff;
  box-shadow: 5px 15px 50px rgba(0,0,0,0.5);
}