# Ignore everything
*

# But not these files...
!readme.md
!.gitignore

# Ignore static site example
!/static-site/
!/static-site/*
!static-site/mantle.json
!/static-site/html/
!/static-site/html/*

# Ignore graphiql site
!/graphiql/
!/graphiql/*
!graphiql/mantle.json
!/graphiql/src/
!/graphiql/src/*

# Ignore Express site example
!/express-site/
!/express-site/*
!express-site/mantle.json
!/express-site/media/
!/express-site/media/*

# Ignore bucket example
!/bucket/
!/bucket/*
!bucket/mantle.json
!/bucket/media/
!/bucket/media/*