# Ignore everything
*

# But not these files...
!readme.md
!.gitignore

# Ignore static site example
!/static-site/
!/static-site/*
!static-site/modepress.json
!/static-site/html/
!/static-site/html/*

# Ignore Express site example
!/express-site/
!/express-site/*
!express-site/modepress.json
!/express-site/media/
!/express-site/media/*

# Ignore bucket example
!/bucket/
!/bucket/*
!bucket/modepress.json
!/bucket/media/
!/bucket/media/*