<div class="register">
	<form name="registerForm" ng-submit="registerForm.$valid && controller.register()" novalidate>
		<div>
			<label>Username <br><input type="text" name="registerUsername" ng-model="controller.registerToken.username" ng-minlength="3" required /></label>
			<div class="error animate-show" ng-show="registerForm.registerUsername.$error.required && (registerForm.$submitted || registerForm.registerUsername.$touched)">Please enter a valid username</div>
		</div>
		<div>
			<label>Password <br><input type="password" name="registerPassword" ng-model="controller.registerToken.password" ng-minlength="3" required /></label>
			<div class="error animate-show" ng-show="registerForm.registerPassword.$error.required && (registerForm.$submitted || registerForm.registerPassword.$touched)">Please enter a valid password</div>
		</div>
		<div>
			<label>Email<br><input type="email" name="registerEmail" ng-model="controller.registerToken.email" required /></label>
			<div class="error animate-show" ng-show="registerForm.registerEmail.$error.required && (registerForm.$submitted || registerForm.registerEmail.$touched)">Please enter an email</div>
			<div class="error animate-show" ng-show="registerForm.registerEmail.$error.email && (registerForm.$submitted || registerForm.registerEmail.$touched)">Please enter a valid email</div>
		</div>

		<div id="google-captcha"></div>

		<p class="error" ng-show="controller.error">{{controller.errorMsg}}</p>
		<p class="success" ng-show="controller.showSuccessMessage">{{controller.successMessage}}</p>
		<img ng-show="controller.loading" src="/media/images/loader.gif" />
		<input ng-show="!controller.loading" type="submit" id="submit" value="Register" class="button blue" />
		<div class="nav-button"><a ui-sref="default" ui-sref-active="active">← Back to Log In</a></div>
		<div class="nav-button"><a ng-click="controller.resendActivation()">Resend Activation Link</a></div>
	</form>
</div>