<div class="admin-toolbar">
    <div class="toolbar-item"><a target="_self" href="."><img src="/admin/media/images/logo-home-small.jpg" /></a></div>
    <div class="toolbar-item nav-button"><a target="_self" href="admin/logout">Logout</a></div>
    <div class="fix"></div>
</div>

<div class="admin-nav">
    <div ui-sref="default.posts" ui-sref-active="active" class="admin-section"><div class="inner"><div class="icon" style="background-image:url('/admin/media/images/posts.png');"></div>Posts</div></div>
    <div ui-sref="default.users" ui-sref-active="active" class="admin-section"><div class="inner"><div class="icon" style="background-image:url('/admin/media/images/users.png');"></div>User Management</div></div>
	<div ui-sref="default.seo" ui-sref-active="active" class="admin-section"><div class="inner"><div class="icon" style="background-image:url('/admin/media/images/seo.png');"></div>SEO</div></div>
</div>
<div class="admin-view">
    <div ui-view class="admin-main-view"></div>
</div>
