<div class="dialog-modal" ng-if="controller.error">
    <div class="dialog-box">
        <p>{{controller.errorMsg}}</p>
        <div class="button red" ng-click="controller.error=false">Ok</div>
    </div>
</div>
<div class="dialog-modal" ng-if="controller.showMediaBrowser">
	<div class="big-dialog-box">
		<ng-include ng-controller="mediaCtrl as mediaController" src="'/admin/templates/dash-media.html'" ng-init="mediaController.multiSelect= false"></ng-include>
	</div>
</div>



<div class="sub-menu">
    <h>Posts<img ng-show="controller.loading" src="/admin/media/images/loader.gif" /></h>
    <div class="console" ng-show="!controller.showNewPostForm">
        <div class="button blue" ng-click="controller.newPostMode()"><div class="cross"></div>New Post</div>
        <div class="button blue" ng-click="controller.showFilters = !controller.showFilters"><div class="cross" ng-show="!controller.showFilters"></div><div class="minus" ng-show="controller.showFilters"></div>Filters</div>
        <div class="search"><input type="text" ng-model="controller.searchKeyword" /><div class="search-button" ng-click="controller.updatePageContent()"></div></div>
        <div class="fix"></div>
    </div>
    
    <div class="console-buttons" ng-show="controller.showNewPostForm">
        <div class="button green" ng-click="controller.createPost()" ng-class="{'hidden': controller.loading}"><div class="cross"></div>{{ !controller.editMode ? 'New Post' : 'Update' }}</div>
        <div class="button red" ng-class="{'hidden': controller.loading}" ng-click="controller.showNewPostForm = false"><div class="cross"></div>Close</div>
        <div class="success">{{controller.successMessage}}</div>
    </div>
</div>

<div class="content-view">
    <div class="filter-options animated-panel" ng-show="controller.showFilters && !controller.showNewPostForm">
        <div class="filter-group">
            <div class="label">Sort Order</div>
            <div class="checkbox">
                <div class="tick-box" ng-click="controller.swapOrder()">
                    <div class="tick" ng-show="controller.sortOrder != 'asc'"></div>
                </div>
                Newest
            </div>
            <div class="checkbox">
                <div class="tick-box" ng-click="controller.swapOrder()">
                    <div class="tick" ng-show="controller.sortOrder == 'asc'"></div>
                </div>
                Oldest
            </div>
        </div>

        <div class="filter-group">
            <div class="label">Sort Order</div>
            <div class="checkbox">
                <div class="tick-box" ng-click="controller.swapSortType()">
                    <div class="tick" ng-show="controller.sortType != 'created'"></div>
                </div>
                Last Modified
            </div>
            <div class="checkbox">
                <div class="tick-box" ng-click="controller.swapSortType()">
                    <div class="tick" ng-show="controller.sortType == 'created'"></div>
                </div>
                Created
            </div>
        </div>

        <div class="filter-group">
            <div class="label">Category</div>
            <div class="dropdown">
                <select ng-model="controller.searchCategory" ng-change="controller.updatePageContent()">
                    <option value=""></option>
                    <option ng-repeat="category in controller.categories" ng-value="category.slug">{{category.title}}</option>
                </select>
            </div>
        </div>

        <div class="fix"></div>
    </div>
    

    <div class="content-view-item new-post-form" ng-show="controller.showNewPostForm">
        <div class="content-view-details animate-show">
            <form name="newPostForm" ng-submit="newPostForm.$valid && controller.createPost()" novalidate>
                <div class="content-view-detail">
                    <div class="label">Title: <span class="info">The title of this new post</span></div>
                    <input type="text" name="nTitle" ng-model="controller.postToken.title" ng-minlength="1" required ng-change="controller.updateDefaultSlug(newPostForm)" />
                    <div class="error animate-show" ng-show="newPostForm.nTitle.$error.required && (newPostForm.$submitted || newPostForm.nTitle.$touched)">Please enter a valid title</div>
                    <div class="fix"></div>
                </div>
				<div class="content-view-detail">
					<div class="label">Content: <span class="info">The main content of the post</span></div>
					<div class="fix"></div>
					<textarea class="newPostText" name="nContent"></textarea>
					<div class="fix"></div>
				</div>
                <div class="content-view-detail">
                    <div class="label">Slug: <span class="info">The url tag for this post</span></div>
                    <input type="text" name="nSlug" ng-model="controller.postToken.slug" ng-minlength="1" required ng-change="controller.checkSlug()" />
                    <div class="error animate-show" ng-show="newPostForm.nSlug.$error.required && (newPostForm.$submitted || newPostForm.nSlug.$touched)">Please enter a valid slug</div>
                    <div class="fix"></div>
                </div>
				<div class="content-view-detail">
					<div class="label">Brief: <span class="info">Optional, a small bit of text to describe the post</span></div>
					<input type="text" name="nBrief" ng-model="controller.postToken.brief" ng-minlength="1" required" />
					<div class="fix"></div>
				</div>
				<div class="content-view-detail">
					<div class="label">Featured Image: <span class="info">The main image for this post</span></div>
					<div class="button blue feature-img-button" ng-click="controller.openMediaBrowser('featured-image')"><div class="cross"></div>Add Image</div>				
                    <input type="text" name="nFeaturedImage" ng-model="controller.postToken.featuredImage" />
                    <div class="fix"></div>
                </div>
            </form>
           
            <div class="categories">
                <form name="newCategoryForm" ng-submit="newCategoryForm.$valid && controller.createCategory()" novalidate>
                    <div class="category-header">Categories:</div>
                    <div class="post-categories">
                        <div class="category" ng-repeat="category in controller.categories">
                            <div class="tick-box" ng-show="!controller.showCategoryDelete" ng-click="controller.selectCategory(category)">
                                <div class="tick" ng-show="controller.postToken.categories.indexOf(category.slug) != -1"></div>
                            </div>
                            <div ng-show="controller.showCategoryDelete" class="cross" ng-click="controller.removeCategory(category)"></div>
                            {{category.title}} - {{category.slug}}
                        </div>
                    </div>
                    <div class="category-buttons">
                        <div class="nav-button"><a ng-click="controller.showCategoryForm = !controller.showCategoryForm">{{ controller.showCategoryForm ? "- New Category" : "+ New Category" }}</a></div>
                        <div class="new-category animated-panel" ng-show="controller.showCategoryForm">
                            <div class="label">Title</div>
                            <input ng-model="controller.categoryToken.title" type="text" name="nTags" ng-minlength="1" />

                            <div class="label">Slug</div>
                            <input ng-model="controller.categoryToken.slug" type="text" name="nTags" ng-minlength="1" />

                            <div ng-show="controller.categories.length != 0">
                                <div class="label">Parent</div>
                                <div class="dropdown">
                                    <select name="nType" ng-model="controller.categoryToken.parent">
                                        <option value=""></option>
                                        <option ng-repeat="category in controller.categories" ng-value="category.slug">{{category.title}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="fix"></div>
                            <img ng-show="controller.loading" src="/media/images/loader.gif" />
                            <div ng-class="{'hidden': controller.loading}" ng-click="controller.createCategory()" class="button blue">
                                <div class="cross"></div> Add Category
                            </div>
                        </div>
                        <div class="nav-button red-highlight" ng-show="controller.categories.length != 0"><a ng-click="controller.showCategoryDelete = !controller.showCategoryDelete">{{ controller.showCategoryDelete ? "- Remove Category" : "+ Remove Category" }}</a></div>
                    </div>                    
                    
                </form>
                <div class="fix"></div>
            </div> 

            <div class="tags">
                <div class="tag-header">Tags:</div>
				<div class="tag-content">
					<div class="tag" ng-repeat="tag in controller.postToken.tags">
						<div class="cross" ng-click="controller.removeTag(tag)"></div>{{tag}}
					</div>
					<div class="fix"></div>
					<div class="new-tag">
						<form name="tagForm">
							<input ng-model="controller.tagString" type="text" name="nTags" ng-minlength="1" />
						</form>
						<div ng-click="controller.processTags()" class="button blue"><div class="cross"></div>Add Tags</div>
					</div>
				</div>
            </div>

            <div class="tags">
                <div class="tag-header">Visibility:</div>
                <div class="checkbox">
                    <div class="tick-box" ng-click="controller.postToken.public = true">
                        <div class="tick" ng-show="controller.postToken.public"></div>
                    </div>
                    Public
                </div>
                <div class="checkbox">
                    <div class="tick-box" ng-click="controller.postToken.public = false">
                        <div class="tick" ng-show="!controller.postToken.public"></div>
                    </div>
                    Private
                </div>
            </div>

            <div class="fix"></div>
           

        </div>
    </div>

    <div class="content-view-item-list" ng-show="!controller.showNewPostForm">
        <div class="content-view-item" ng-repeat="post in controller.posts">
            <div class="arrow animate-fast" ng-click="post.more = (post.more === undefined ? true : !post.more )" ng-class="{ active : post.more }"></div>
            <div class="view-item-label date">Created: {{post.createdOn | date:"MM/dd/yyyy 'at' h:mma"}}</div>
            <div class="view-item-label date nav-button red-highlight"><a href="" ng-click="controller.editPostMode(post)">Edit</a></div>
            <div class="view-item-label date nav-button red-highlight"><a href="" ng-click="post.confirmDelete=true">Remove</a></div>
            <div class="view-item-label"><b>{{post.title}}</b> : <span class="slug">{{post.slug}}</span></div>
            <div class="content-view-details animated-panel animate-show" ng-show="post.more">
                 <div class="content-view-detail">
                    <div class="label">ID: </div>
                    <div class="textbox">{{post._id}}</div>
                    <div class="fix"></div>
                </div>
				<div class="content-view-detail">
					<div class="label">Brief: </div>
					<div class="textbox">{{post.brief}}</div>
					<div class="fix"></div>
				</div>
                <div class="content-view-detail">
                    <div class="label">Created on: </div>
                    <div class="textbox">{{post.createdOn | date:"MM/dd/yyyy 'at' h:mma"}}</div>
                    <div class="fix"></div>
                </div>
                <div class="content-view-detail">
                    <div class="label">Last Updated: </div>
                    <div class="textbox">{{post.lastUpdated | date:"MM/dd/yyyy 'at' h:mma"}}</div>
                    <div class="fix"></div>
                </div>
                <div class="content-view-detail">
                    <div class="label">Visibility: </div>
                    <div class="textbox">{{post.public ? "public" : "private"}}</div>
                    <div class="fix"></div>
                </div>
                <div class="content-view-detail">
                    <div class="label">Tags: </div>
                    <div class="textbox">{{post.tags.join(", ")}}</div>
                    <div class="fix"></div>
                </div>
                <div class="content-view-detail">
                    <div class="label">Categories: </div>
                    <div class="textbox">{{post.categories.join(", ")}}</div>
                    <div class="fix"></div>
                </div>
                <div class="content-view-detail">
                    <div class="label">Content</div>
                    <div class="preview" ng-bind-html="post.content"></div>
                    <div class="fix"></div>
                </div>
                <div class="content-view-detail">
                    <div class="label">Featured Image</div>
                    <div ng-bind-html="post.featuredImage"></div>
                    <div class="fix"></div>
                </div>
                
                <div class="content-view-detail">
                    <div class="buttons">
                        <div class="nav-button red-highlight" ng-click="post.confirmDelete=true"><a href="">Remove Post</a></div>
                        <div class="button blue" ng-click="controller.editPostMode(post)">Edit Post</div>
                    </div>
                </div>
            </div>
            <div class="user-confirmation animated-panel animate-show" ng-show="post.confirmDelete">
                <div> you sure you want to delete this post? </div>
                <div class="button red" ng-click="controller.removePost(post)">Yes</div>
                <div class="button red" ng-click="post.confirmDelete=false">No</div>
            </div>
        </div>

        <div class="navigation">
            <div class="back column">
                <div ng-show="controller.index" class="nav-button red-highlight" ng-click="controller.goFirst()"><a href="">First</a></div>
                <div ng-show="controller.index" class="nav-button red-highlight" ng-click="controller.goPrev()"><a href="">Prev</a></div>
            </div>
            <div class="column center">{{controller.getPageNum()}} of {{controller.getTotalPages()}}</div>
            <div class="forward column">
                <div ng-show="controller.index + controller.limit < controller.last" class="nav-button red-highlight" ng-click="controller.goNext()"><a href="">Next</a></div>
                <div ng-show="controller.index < controller.last - controller.limit" class="nav-button red-highlight" ng-click="controller.goLast()"><a href="">Last</a></div>
            </div>
            <div class="fix"></div>
        </div>
    </div>
</div>