<div class="dialog-modal" ng-show="controller.error">
    <div class="dialog-box">
        <p>{{controller.errorMsg}}</p>
        <div class="button red" ng-click="controller.error=false">Ok</div>
    </div>
</div>

<div class="sub-menu only-header">
    <h>SEO<img ng-show="controller.loading" src="/admin/media/images/loader.gif" /></h> 
</div>

<div class="seo content-view only-header">
	<div class="content-view-item">
		<div class="arrow animate-fast" ng-click="controller.showRenders = (controller.showRenders === undefined ? true : !controller.showRenders )" ng-class="{ active : controller.showRenders }"></div>
		<div class="view-item-label">Renders</div>
		<div class="content-view-details animated-panel animate-show" ng-show="controller.showRenders">
			<div class="content-view-detail">
				<div class="label">URLs</div>
				<div class="search"><input type="text" ng-model="controller.searchTerm" /><div class="search-button" ng-click="controller.updatePageContent()"></div></div>
				<div class="fix"></div>
				<div class="div-list" ng-repeat="render in controller.renders">
					<div class="name left">
						<a target="_blank" ng-href="{{controller.cacheURL}}{{render.url}}">{{render.url}}</a>
					</div>					
					<div class="right">
						<div class="nav-button red-highlight" ng-click="controller.removeRender(render)">
							<a href="">Remove</a>
						</div>
					</div>
					<div class="right">{{render.createdOn | date:"MM/dd/yyyy"}}</div>
					<div class="fix"></div>
				</div>
				<div class="navigation">
					<div class="back column">
						<div ng-show="controller.index" class="nav-button red-highlight" ng-click="controller.goFirst()"><a href="">First</a></div>
						<div ng-show="controller.index" class="nav-button red-highlight" ng-click="controller.goPrev()"><a href="">Prev</a></div>
					</div>
					<div class="column center">{{controller.getPageNum()}} of {{controller.getTotalPages()}}</div>
					<div class="forward column">
						<div ng-show="controller.index + controller.limit < controller.last" class="nav-button red-highlight" ng-click="controller.goNext()"><a href="">Next</a></div>
						<div ng-show="controller.index < controller.last - controller.limit" class="nav-button red-highlight" ng-click="controller.goLast()"><a href="">Last</a></div>
					</div>
					<div class="fix"></div>
				</div>

				<div class="nav-button red-highlight" ng-click="controller.clearRenders()"><a href="">Clear Cache</a></div>
			</div>
		</div>
	</div>
</div>