
<div class="admin-message">
	<div><a target="_self" href="."><img src="/media/images/logo-home-large.png" /></a></div>
	
	<div ng-show="controller.errorMsg != '' && !controller.loading" class="message" ng-class="{success : !controller.error, error: controller.error}">{{controller.errorMsg}}</div>

	<form name="loginForm" ng-show="!controller.complete" class="password-reset-form" ng-submit="loginForm.$valid && controller.resetPassword()" novalidate>
		<p>
			<div class="password-reset-form-label">Please enter your new password: </div>
			<input type="password" name="newPassword" ng-model="controller.loginToken.password" ng-minlength="3" required />
		</p>
		
		<img ng-show="controller.loading" src="/admin/media/images/loader.gif" />
		<input ng-show="!controller.loading" type="submit" id="submit" class="button blue" value="Save" />
	</form>

	<p><div class="nav-button" ng-show="!controller.loading && !controller.complete"><a target="_self" href="" ng-click="controller.resendRequest()">Send Password Reset Request</a></div></p>
	<p><div class="nav-button"><a target="_self" ng-href="{{controller.origin}}">Back to Site</a></div></p>

</div>

